body {
	color: #444;
	background-color: #eee;
	font-family: monospace;
}

h1, h2, h3, h4, h5, h6 {
	font-size: 1em;
	margin: 0;
}

img, h1, h2 {
	vertical-align: middle;
}

img { border: 0; }

a.d,
a.h,
a.i,
a.line { text-decoration: none; }

#blob a { color: #777; }

#blob a:hover {
	color: #222;
	text-decoration: none;
}

table thead td { font-weight: bold; }

table td { padding: 0 0.4em; }

#content table td {
	vertical-align: top;
	white-space: nowrap;
}

#branches tr:hover td,
#tags tr:hover td,
#index tr:hover td,
#log tr:hover td,
#files tr:hover td { background-color: #ddd; }

#index tr td:nth-child(2),
#tags tr td:nth-child(3),
#branches tr td:nth-child(3),
#log tr td:nth-child(2) { white-space: normal; }

td.num { text-align: right; }

hr {
	border: 0;
	border-top: 1px solid #777;
	height: 1px;
}

pre a.h { color: #00a; }

.A,
span.i,
pre a.i { color: #070; }

.D,
span.d,
pre a.d { color: #e00; }

pre a.h:hover,
pre a.i:hover,
pre a.d:hover { text-decoration: none; }
