body { padding: 10px 0px; max-width: 700px; margin: auto; color: #444; background-color: #eee; }
h1, h2, h3 { text-align: center; }
pre, code { background-color: #e0e0e0; }
table { border-collapse: collapse; }
table td, th { border: 1px solid black; padding: 4px; }
.dead { color: red; }
.subtitle { color: gray; text-align: center; }
blockquote { border-left: 10px solid #e0e0e0; padding: 10px; font-style: italic; }
